{% extends "base.html" %}
{% block content %}
<h1>{{ state_name }}, {{ state_id }}<h1>
{% for c in county %}
    <h3>{{ c.name }}, {{ c.id }}</h3>
    {% for s in city %}
        {% if s.county_id == c.id %}
            <a href="{{ url_for('city_page',url_slug_state=url_slug_state,state_id=state_id, url_slug_city=s.url_slug_city, city_id=s.id) }}">{{ s.name }}</a> ,{{ s.county_id }} {{ s.id }}
        {% endif %}
    {% endfor %}
    {% for m in metro %}
        {% if m.county_id == c.id %}
            ---metro---
            <a href="{{ url_for('metro_page', url_slug_state=url_slug_state, state_id=state_id, url_slug_metro=m.url_slug_metro, metro_id=m.id) }}">{{ m.city_name }},{{ m.neighborhood_name }}</a>, {{ m.county_id }}, {{ m.id }}
        {% endif %}
    {% endfor %}
{% endfor %}
{% endblock %}